.signUpForm {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.inline {
  display: inline;
  margin-right: 20px;
}

.form-toggle {
  margin-left: 50px;
}
