.sound-div {
  margin-top: 100px;
  text-align: center;
}

.sound {
  margin-top: 100px;
  background-color: gray;
}

.sound img {
  height: 100px;
  width: 200px;
  margin-bottom: 1rem;
  border: 5px solid red;
  display: inline-block;
  margin: 1rem 0.5rem 1rem 0.5rem;
}
