.brand {
  font-size: 1.7em;
  margin-left: 15px;
}

.links {
  margin-left: 10px;
  font-size: 18px;
  text-decoration: none !important;
}

.nav {
  margin-right: 15px;
}

.current-user {
  color: white;
  display: inherit;
  margin-right: 20px;
}

.current-user p {
  margin: auto 0;
  margin-left: 15px;
}
