.signInForm {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.login-page-div {
  background: url("https://www.unlockunit.com/blog/wp-content/uploads/2018/02/sound-waves.jpg");
  /* background: url("./sound-wave.jpg"); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60vh;
  background-position: 50%;
  padding-top: 2vh;
  box-shadow: 0 5px 15px 5px lightslategrey;
  text-align: center;
}

.login-content {
  margin-top: 2vh;
  text-align: center;
}

.form-toggle {
  margin-right: 50px;
  padding: 15px 25px;
}

.btn-inline {
  display: inline;
  margin: 0 auto;
}

.prev-headline {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.preview-button {
  margin-top: 2vh;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
}

/* .prev-content {
  background-color: aquamarine;
}

.bg-login {
  height: 100%;
  background-color: aquamarine;
} */
